RESEND_API_KEY=re_your_api_key
CONTACT_TO_EMAIL=contact@bibibopnutritioncalculator.pro
CONTACT_FROM_EMAIL=Website <forms@bibibopnutritioncalculator.pro>
TURNSTILE_SECRET_KEY=your_turnstile_secret
NEXT_PUBLIC_TURNSTILE_SITE_KEY=your_turnstile_site_key
SITE_URL=https://bibibopnutritioncalculator.pro
